<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Cats a lot of cats</title>
  </head>
  <body>
    <div class="container">
      <img src="<%= catImg %>" alt="cat" style="width: 450px; height: 600px;" />
      <div class="bottom-left"><%= catFact %></div>
    </div>
  </body>
</html>
